<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apfelmann.outlawz_app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Timer_Activity"
            android:label="@string/title_activity_timer_" >
        </activity>
        <activity
            android:name=".Fischen_Activitie"
            android:label="@string/title_activity_fischen__activitie" >
        </activity>
        <activity
            android:name=".Fischen_Activity"
            android:label="@string/title_activity_fischen_" >
        </activity>
        <activity
            android:name=".Bade_Activity"
            android:label="@string/title_activity_bade_" >
        </activity>
    </application>

</manifest>
